extends ../template

block variables
    - var  title = 'Обо мне'

block content
    section.main-header.about-header_hight
        .main-header__socials
            ul.socials
                each item in ['vk','git','in']
                    li.socials__item
                        a(href="#" class=`socials__item_${item}`)
        .main-header__menu
            .hamburger(onclick="document.getElementById('hamburger__menu').style.display='block'")
        .main-header__title
            .section-title
                img.section-title__pic(src=header_img, alt="Портфолио")
        .main-header__user
            .user__pic
                img.user__img(src=avatar_img, alt="")
            .user__description
                .user__name= userName
                .user__info= userInfo
        .main-header__scroll-btn
            button(type="button").arrow-down
        .main-header__triangle.about-header_triangle
            svg.triangle(viewbox="0 0 1000 85", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
                polygon.triangle_left_white(points="0,0   0,86   500.8,86   500.8,75")
                polygon.triangle_right_beige(points="1000,0   1000,86   500,86   500,75")
    section.section-about
        .section-about__left
            .section-about__left-title
                .block-title Обо мне
                .section-about__left-title_img-bg
            .section-about__left-content
                .user-description
                    .user-description__image
                        img.user-description__img(src=avatar_img, alt="")
                    .user-desciption__title
                        .block-title Кто я
                    .user-description__text
                        p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                        p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
        .section-about__right
            .section-about__right-title
                .block-title Чем я могу быть вам поелезен
            .section-about__right-description
                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
            .section-about__right-content
                ul.skills-list
                    li.slikks-list__item
                            .skills-row
                                .skills-row__title Frontend
                                ul.skills-row__list
                                    each skil in ['HTML5', 'CSS3', 'Javascript & jQery']
                                        li.skills-row__item
                                            .skill
                                                svg.circles(viewbox='0 0 110 110')
                                                    circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                                                    circle.circle__second.circle-40(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                                                .skill__title= skil
                    li.slikks-list__item
                            .skills-row
                                .skills-row__title Backend
                                ul.skills-row__list
                                    each skil in ['PHP', 'MYSQL', 'Node.js & npm', 'Mongo.db']
                                        li.skills-row__item
                                            .skill
                                                svg.circles(viewbox='0 0 110 110')
                                                    circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                                                    circle.circle__second.circle-50(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                                                .skill__title= skil
                    li.slikks-list__item
                            .skills-row
                                .skills-row__title Workflow
                                ul.skills-row__list
                                    each skil in ['Git', 'Gulp', 'Bower']
                                        li.skills-row__item
                                            .skill
                                                svg.circles(viewbox='0 0 110 110')
                                                    circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                                                    circle.circle__second.circle-60(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                                                .skill__title= skil
    section.map
        .map__data              
            .contacts
                .contacts__title
                    .block-title Контакты
                ul.contacts__list
                    -
                        var contacts = [
                            ['skype', 'skype_kdn'],
                            ['mail', 'astahov@mail.ru'],
                            ['phone', '+7 123 456 78 90'],
                            ['map', 'г. Москва, Оружейный пер., д. 15А']
                        ]           
                    each item in contacts 
                        li.contacts__item
                            .contacts-row__item
                                i(class=`contacts-row__icon_${item[0]}`)
                                .contacts-row__content #{item[1]}
                .contacts__pin

    include ../common/footer.pug
    include ../common/menu.pug